<?xml version="1.0"?>
<!--
/**
 * @package ZShapeTech_Core
 * @author ZShapeTech <zshapetech@gmail.com>
 * @license http://www.opensource.org/licenses/mit-license.html  MIT License
 * @version $Id$
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="zshapetech" translate="label" sortOrder="15">
            <label>ZShapeTech</label>
        </tab>
    </system>
</config>
